.footer-iframe {
    height: 26rem;
}
@media (max-width:912px) {
    .footer-iframe {
        height: 41rem;
    }
}
@media (max-width:540px) {
    .footer-iframe {
        height: 42.8rem;
    }
}
@media (max-width:414px) {
    .footer-iframe {
        height: 69.5rem;
    }
}
@media (max-width:375px) {
    .footer-iframe {
        height: 71.5rem;
    }
}
@media (max-width:280px) {
    .footer-iframe {
        height: 74.5rem;
    }
}